<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GrandPy-Bot</title>
    </head>
    <body>
        <header>
            GrandPy-Bot
        </header>
        
        <section>
            <form>
                <label for="question">Posez votre question à GrandPy-Bot :</label>
                <!-- A supprimer lors de l'ajout du css --> <br>
                <textarea name="question" id="question" cols="30" rows="5"></textarea>
            </form>
        </section>
        
        <footer>
            Loïc TESSIER - <a href="https://github.com/loictessier/GrandPy-Bot">Github</a>
        </footer>
    </body>
</html>